.clearfix:after, .ship li:after {content: '';display: block;clear: both;}
.clear{clear: both;height: 0px;}
.ulfix {font-size: 0;}
.ulfix li {font-size: 16px;}
/* END my_presets */

h1,h2,h3,h4,h5,h6{font-family: 'Gotham Pro', Helvetica, sans-serif; font-weight: 700; text-transform: uppercase;line-height: 1.3em;}
b,strong{font-weight: 700;}
body{
    width: 100%;
    padding: 0px;
    margin: 0px auto;
    font-family: 'Gotham Pro', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    color: #222;
    background: #f1f1f1;
}
.wrap {
    width: 480px;
    padding: 0;
    margin: 0 auto;
    background: #fff;
}
.fixed{
	position:fixed;
	z-index:2;
}
.top{
	height: 60px;
    border-bottom: 1px solid #dbdbdb;
    background: #fff;
	width:480px;
}
.btn{
	display:block;
	float:right;
	margin-top:10px;
	margin-right:15px;
	width:120px;
	height:40px;
	background: #e9622a;
    background: -moz-linear-gradient(top, #e9622a 25%, #ed3034 100%);
    background: -webkit-linear-gradient(top, #e9622a 25%,#ed3034 100%);
    background: linear-gradient(to bottom, #e9622a 25%,#ed3034 100%);
	border-radius:8px;
	color:#fff;
	text-decoration:none;
	line-height:40px;
	font-size:14px;
	font-weight:600;
	text-align:center;
}
.title {
	display:block;
	font-size:36px;
	text-align:center;
	padding-top:80px;
	padding-bottom:20px;
}
.callcenter {
	font-size:28px;
	color:#333;
	padding:10px;
	
	
}
.graph{
font-size:18px;
color:#333;
padding-left:10px;
font-weight:700;
}
.rozklad{
	font-size:16px;
	color:#827373;
	padding-left:10px;
	margin-top:10px;
}
.footer{
display:block;
position:relative;
background-color:#333;
padding:5px;
	font-size:16px;
}
.footer a{
color:#a5a5a5;
font-size:16px;
text-decoration:none;
}